<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        {% if title%}
            <title>Learning templates with {{ title }}</title>
        {% else %}
            <title>Learning templates</title>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <div class="image-container">
                <img src="https://images.unsplash.com/photo-1517249361621-f11084eb8e28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80" alt="">
            </div>
            <div class="content-container">
                {% if name %}
                    <h1>Hello {{ name }}, how are you enjoying Flask?</h1>
                {% else %}
                    <h1>Hello guest, how are you enjoying Flask?</h1>
                {% endif %}
            </div>
            <!-- for x, y in student_details -->
        </div>
    </body>
</html>